.vscode/**
.vscode-test/**
.claude/**
.github/**
.gitignore
.gitattributes

src/**
scripts/**
sample/**
**/*.ts
**/tsconfig*.json

out/**
!out/extension.js
**/*.map

node_modules/**
package-lock.json
